<html>
    <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149342654-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149342654-1');
</script>
	<title>CitationTree</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
</head>


<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href={{ url_for('student') }}>CODWOE</a>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('compare_emb') }}>Associations</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('result') }}>Paper Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('sandbox') }}>Sandbox</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('gen_gloss') }}>Gloss Generator</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('analysis') }}>Graphs</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('team') }}>Team</a>
                </li>

            </ul>
        </div>
    </nav>
</br>
</br>
</br>

<div class="row" style="padding:10px;">
    
</div>
    <div class="col-lg-12" style="text-align: center;font-style: italic; color:#08A4B1">
        <h2>Did you know, LMs believe that a liar is closer to death than mafia!</h2>
        <h4>Explore other associations by selecting 3 or more words from the list below and visualizing similarity between their vectors!</h4>
    </div>
</div>
<br>
<div class="row" style="padding:10px;">
    <div class="col-lg-12" style="text-align: center;">
        <h2>Select words to visualize embeddings:</h2>
    </div>
    <div class="col-lg-12" style="text-align: center;">
        <form action="http://127.0.0.1:5000/compare_emb" method="post" novalidate="novalidate">
            <!-- <div class="row"> -->
                <fieldset>  
                
                <div class="row" style="padding:10px;">
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='beautiful'>beautiful    
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='cocktail'>cocktail    
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='institutionalized'>institutionalized
                    </div>    
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='menial'>menial
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='seek'>seek
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='embed'>embed
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='stalwart'>stalwart
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='nonexistent'>nonexistent
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='fiber'>fiber
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='finger'>finger
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='overcook'>overcook
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='landmark'>landmark
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='landslide'>landslide
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='watercolour'>watercolour
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='divorce'>divorce
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='fantasy'>fantasy
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='mafia'>mafia
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='chef'>chef
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='dead'>dead
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='timid'>timid
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='maggot'>maggot
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='borderline'>borderline
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='clumsy'>clumsy
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='mayonnaise'>mayonnaise
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='coco'>coco
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='candlestick'>candlestick
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='stuff'>stuff
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='upset'>upset
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='pigment'>pigment
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='cloth'>cloth
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='liar'>liar
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='malice'>malice
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='bishopric'>bishopric
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='decently'>decently
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='obliged'>obliged
                    </div>
                    <div class="col-lg-2" align="margin-left">
                        <input type="checkbox" name="dword[]" value='blossom'>blossom
                    </div>
                </div>
                
                <br>  
                <input id="search-dword"  class="btn btn-secondary button" type="submit" value="Submit" style="height: 40px !important" onclick="return ValidateWordSelection();">  
                </fieldset>
            <!-- </div> -->
        </form>
    </div>
      
</div>


<div class="container" style="margin-top:10px">
    <div class="row">
        <div class="col-lg-4" align="margin-left">
            <h3 style="margin-top:10px; margin-bottom: 50px; text-align: center;">SGNS</h3>
            <div id='chart_sgns' class='chart'”></div>
        </div>
        <div class="col-lg-4" align="margin-left">
            <h3 style="margin-top:10px; margin-bottom: 50px; text-align: center;">CHAR</h3>
            <div id='chart_char' class='chart'”></div>
        </div>
        <div class="col-lg-4" align="center">
            <h3 style="margin-top:10px; margin-bottom: 50px; text-align: center;">ELECTRA</h3>
            <div id='chart_electra' class='chart'”></div>
        </div>
    </div>
</div>

<script type="text/javascript">  
    function ValidateWordSelection()  
    {  
        var checkboxes = document.getElementsByName("dword[]");  
        var numberOfCheckedItems = 0;  
        for(var i = 0; i < checkboxes.length; i++)  
        {  
            if(checkboxes[i].checked)  
                numberOfCheckedItems++;  
        }  
        if(numberOfCheckedItems < 3)  
        {  
            alert("Please select three or more words for better visualization!");
            $('#search-dword').attr("disabled", "disabled"); 
            return false;  
        }
        if(numberOfCheckedItems > 0)  
        {  
              $('#search-dword').removeAttr("disabled");
        }  
    }  
</script>


</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs_sgns = {{graphJSON_sgns | safe}};
  var graphs_char = {{graphJSON_char | safe}};
  var graphs_electra = {{graphJSON_electra | safe}};
  Plotly.plot('chart_sgns', graphs_sgns,{});
  Plotly.plot('chart_char', graphs_char,{});
  Plotly.plot('chart_electra', graphs_electra,{});
</script>
s

</html>
