<html>
    <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149342654-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149342654-1');
</script>
	<title>CitationTree</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
</head>


<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href={{ url_for('student') }}>CODWOE</a>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('compare_emb') }}>Associations</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('sandbox') }}>Sandbox</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('gen_gloss') }}>Gloss Generator</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('analysis') }}>Graphs</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('team') }}>Team</a>
                </li>

            </ul>
        </div>
    </nav>
    </br>
    </br>
    </br>
    <div class="row" style="padding:10px;">
        <div class="col-lg-12" style="text-align: center;">
            <h2>Embeddings for different languages</h2>
        </div>
        </br>
        <div class="row">
            <div class="col-lg-4" align="center">
                <h3 style="margin-top:10px; margin-bottom: 50px; text-align: center;">ENGLISH</h3>
                <img src={{url_for('static',filename='graphs/dev_en_vecs.png')}} style="width: 90%;">
            </div>
            <div class="col-lg-4" align="center">
                <h3 style="margin-top:10px; margin-bottom: 50px; text-align: center;">FRENCH</h3>
                <img src={{url_for('static',filename='graphs/dev_fr_vecs.png')}} style="width: 90%;">
            </div>
            <div class="col-lg-4" align="center">
                <h3 style="margin-top:10px; margin-bottom: 50px; text-align: center;">RUSSIAN</h3>
                <img src={{url_for('static',filename='graphs/dev_ru_vecs.png')}} style="width: 90%;">
            </div>
        </div>
    </div>

    </br>
    </br>
    </br>
    <div class="row" style="padding:10px;">
        <div class="col-lg-12" style="text-align: center;">
            <h2>Embeddings via different architectures</h2>
        </div>
        </br>
        <div class="row">
            <div class="col-lg-4" align="center">
                <h3 style="margin-top:10px; margin-bottom: 50px; text-align: center;">SGNS</h3>
                <img src={{url_for('static',filename='graphs/dev_sgns_vecs.png')}} style="width: 90%;">
            </div>
            <div class="col-lg-4" align="center">
                <h3 style="margin-top:10px; margin-bottom: 50px; text-align: center;">CHAR</h3>
                <img src={{url_for('static',filename='graphs/dev_char_vecs.png')}} style="width: 90%;">
            </div>
            <div class="col-lg-4" align="center">
                <h3 style="margin-top:10px; margin-bottom: 50px; text-align: center;">ELECTRA</h3>
                <img src={{url_for('static',filename='graphs/dev_electra_vecs.png')}} style="width: 90%;">
            </div>
        </div>
    </div>

    </br>
    </br>
    </br>
    <div class="row" style="padding:10px;">
        <div class="col-lg-12" style="text-align: center;">
            <h2>Overlap among NNs of each architecture</h2>
        </div>
        </br>
        <div class="row">
            <div class="col-lg-4" align="center">
                <h3 style="margin-top:10px; margin-bottom: 50px; text-align: center;">ENGLISH</h3>
                <img src={{url_for('static',filename='graphs/nn_overlap_en.png')}} style="width: 90%;">
            </div>
            <div class="col-lg-4" align="center">
                <h3 style="margin-top:10px; margin-bottom: 50px; text-align: center;">FRENCH</h3>
                <img src={{url_for('static',filename='graphs/nn_overlap_fr.png')}} style="width: 90%;">
            </div>
            <div class="col-lg-4" align="center">
                <h3 style="margin-top:10px; margin-bottom: 50px; text-align: center;">RUSSIAN</h3>
                <img src={{url_for('static',filename='graphs/nn_overlap_ru.png')}} style="width: 90%;">
            </div>
        </div>
    </div>



</body>

</html>
